ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

mat-toolbar {
  background-color: #111617;
}

.spacer {
  flex: 1 1 auto;
}
